[package]

name = "tiamat"
version = "0.0.1"
authors = [ "Matthew Maurer <maurer@matthewmaurer.org>" ]
license = "MIT"
description = "Binary analysis using Holmes"
repository = "https://github.com/maurer/tiamat"

[dependencies]
getopts = "*"
postgres_array = "0.6"
bit-vec = "0.4"
rustc-serialize = "0.3"

[dependencies.postgres]
version = "0.11"
features = ["bit-vec", "rustc-serialize"]

[dependencies.holmes]
git = "https://github.com/maurer/holmes"
rev = "1467cb49d950c459f2e9553762835b7fd273d2f5"

[dependencies.bap]
git = "https://github.com/maurer/bap-rust"
rev = "262062d23941e78473e9205f70a3130834efd6c1"
features = ["holmes_support", "json"]
